* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana;
    color: #26233e;
    background-color: #afd1ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    padding-top: 4%;
}
h1 {
    margin-bottom: 20px;
    color: #26233e;
    font-size: 35px;
}
form {
    margin-top: 15px;
    background: #d5e3d4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: #d5e3d4;
    border: 1px solid #26233e;
    border-radius: 4px;
    font-family: Verdana;
    font-size: 17px;
}
button {
    padding: 10px 20px;
    background-color: #407c85;
    color: #f9f9f9;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    font-family: Verdana;
    font-size: 18px;
}
button:hover {
    background-color: #284f55;
}
a {
    color: #26233e;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
}
a:hover{
    text-decoration: underline;
}
::placeholder{
    font-family: Verdana;
    color: #26233e;
}